
/*@function px-to-rem($pxValue) {
    @return $pxValue/$default-font-size;
}

@mixin font-size($sizeValue) {
    font-size: $sizeValue + px;
    font-size: $sizeValue/$default-font-size + rem;
}

@mixin rem-converter($selector, $values...) {
    $max: length($values);

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));

    }
}*/
