<div id="header">
      <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="j-scroll" href="//www.macintoshhelper.com">Home</a></li>
                <li><a href="//www.macintoshhelper.com/blog">Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                    YouTube
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://www.youtube.com/Macmaster4848">Macmaster4848</a></li>
                        <li><a href="https://theoffbeatnomad.com/youtube">OffbeatNomad</a></li>
                        <li><a href="https://www.youtube.com/MinecraftByte">MinecraftByte</a></li>
                    </ul>
                </li>
                <li><a href="//www.macintoshhelper.com/wiki">Wiki</a></li>
                <li><a href="//www.macintoshhelper.com/forum">Forum</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
         </div>
      </div>
      </div>
</div>
