.welcome {
  padding: 70px 15px;
  text-align: center;
}
#header .navbar {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    height: 70px;
    border: 0px none;
}
#header .navbar-brand {
	padding: 25px;
}
#header .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 20px;
}
#header .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
}
#header .navbar-nav {
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    font-family: Ubuntu,sans-serif;
}
#header .navbar-nav a {
    color: #000;
}
#header .nav li a:hover {
    /*background-color: #3498DB;*/
    background-color: #FFF;
    text-decoration: underline;
    color: #000;
}
#header .nav > li > a, #header .nav > li > a:hover, #header .nav > li > a:focus {
  background-color: #FFF;
}
#header .navbar-nav > .open > a, #header .navbar-nav > .open > a:hover, #header .navbar-nav > .open > a:focus {
    /*color: #FFF;
    background-color: #3498DB;
    border-color: #3498DB;*/
    background-color: #FFF;
}
#header .dropdown-menu a:hover, #header .dropdown-menu a:focus {
    /*background-color: #3498DB;
    color: #FFF;*/
}
#header .dropdown-menu > li {
    border-bottom: 1px solid #E0EDED;
}
@media screen and (max-width: 768px) {
	#header li.dropdown {
    	z-index: 1001;
	}
	#header .navbar .dropdown-menu {
		float: none !important;
	}
}
/* #header .navbar-nav a:hover, #header a:focus, #header > .navbar-nav > .open > a {
    color:#5d5d5d;
    background-color: #fff; */
}
#header .navbar-nav > li > a {
    color: #000;
    font-weight: 400;
}
#header .navbar-default .navbar-nav > li > a {
	background-color: #FFF;
}
#header .navbar .dropdown-menu {
    float:right;
    top: auto;
    left: 0;
    border-top-left-radius: 3px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -2px;
    border-top: 0px;
}
#header .navbar-toggle {
    background: none repeat scroll 0% 0% #369EEF;
}
#header .navbar-toggle .icon-bar {
    background: none repeat scroll 0% 0% #FFF;
}
#header .navbar { /* THIS IS FOR NO MARGIN ABOVE CAROUSEL */
    margin-bottom: 0px;
}
.myCarouselFill {
    /* background: no-repeat fixed center top / cover transparent; */
    /*background-image:url();*/
     width: 100%;
     height: 100%;
     background-position: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
}
#myCarousel .carousel, #myCarousel .item {
    height: 100%;
    background: transparent url("./img/Coverv1.0.jpg") no-repeat scroll center center / cover;
}
#myCarousel .carousel-inner {
    height: 400px;
}

.blog-preview {
	background: none repeat scroll 0% 0% rgb(242, 245, 247);
	padding: 70px 15px;
}
.blog-preview .col-lg-12 .blog-preview-info {
	border-color: #D7D7D7;
	border-style: solid;
	border-width: 0px 1px 1px;
	padding: 15px 15px 20px;
	background-color: #FFF;
}
.blog-preview .col-lg-12 .blog-preview-info h5 {
	height: 40px;
	overflow: hidden;
	text-transform: uppercase;
	color: #000;
}
.blog-preview .col-lg-12 .blog-preview-info a:hover {
    text-decoration-line: unset;
}
.blog-preview .col-lg-12 .blog-preview-meta {
	border-color: #D7D7D7;
	border-style: solid;
	padding: 0px 15px;
	border-width: 1px;
	background-color: #FFF;
}
.blog-preview .col-lg-12 .blog-preview-meta h6 {
	text-transform: uppercase;
}
.blog-preview .col-lg-12 .blog-preview-thumb {
}
.blog-preview .col-lg-12 .blog-preview-image {
		height: 200px;
}
.video-preview {
	padding: 70px 15px;
}
.video-preview .container {
	padding: 0px 75px;
}
.wiki-preview {
	background: none repeat scroll 0% 0% rgb(242, 245, 247);
	padding: 70px 15px;
}
.forum-preview .container {
	padding: 0px 75px;
}
