---
layout: default
---

<!--<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
-->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Macintosh Helper.</h1>
          <p class="h4" style="color: white">Your source of tech knowledge.</p>
          <p><a class="btn btn-lg btn-primary" href="#about">Learn More</a>
        </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1>News</h1>
          <p class="h4" style="color: white">Read articles on technology.</p>
          <p><a class="btn btn-large btn-primary" href="//www.macintoshhelper.com/news">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1>Tech wiki</h1>
          <p class="h4" style="color: white">Find wiki articles on topics and areas in technology.</p>
          <p><a class="btn btn-large btn-primary" href="//www.macintoshhelper.com/wiki">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<!-- /.carousel -->



<div class="welcome">
<div class="container">



    <h2>Your Home to Tech Knowledge</h2>
    <p class="lead">You will find tech videos, a news section, a wiki and more on this site.<br>Don't forget to join the tech community in the forum!</p>


</div>
</div>

<div class="blog-preview">
<div class="container">
  <div class="col-md8 text-center">
    <h2>Tech Articles From a New Perspective</h2>
    <p class="lead">Find technology news, information, advice and more in our news section.<br>Take part in discussions with our community on topics discussed in articles.</p>
  </div>
  <div class="col-lg-12" style="min-height: 287px">
    <?php?>

    <div id="container">
      <?php?>
      <div class="col-xs-12 col-md-4">
        <div class="blog-preview-thumb">
          <a href="/news/">
            <div class="blog-preview-image" style="background: rgb(153, 189, 221) <?php?> no-repeat scroll center center / cover;">
            </div>
          </a>
          <!-- img goes here -->
        </div>
        <div class="blog-preview-meta">
          <h6><?php?></h6>
        </div>
        <div class="blog-preview-info">
          <a href="<?php the_permalink() ?>" title="<?php the_title_attribute(); ?>">
            <h5><?php?></h5>
          </a>
          <div style="height: 145px; overflow: hidden;">
            <?php?>
          </div>
          <a class="btn btn-md btn-primary" href="<?php the_permalink() ?>">Read More</a>
        </div>
      </div>
      <?php?>
    </div>
  </div>
</div>
</div>

<div class="video-preview">
<div class="container">
  <div class="col-md8 text-center">
    <h2>Informative Tech Videos</h2>
    <p class="lead">Find technology videos varying from advice, tips, news and more.<br>Discover series like "The Tech Dictionary" to find out more about tech.</p>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//youtube.com/embed/rbUtwx1GS9s"></iframe>
  </div>
  <div class="col-md8 text-center">
    <br>
    <a class="btn btn-md btn-primary" href="//macintoshhelper.com/video">See More</a>
  </div>
</div>
</div>

<div class="wiki-preview">
<div class="container">
  <div class="col-md8 text-center">
    <h2>Technology Wiki</h2>
    <p class="lead">Technology information compiled into easy to understand wiki pages.<br>Find out more about technology and how it works.</p>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Software</h3>
    <p>Software is the virtual component of any computer system. Types of software include operating systems and applications. To learn more about topics related to software click below.</p>
    <a class="btn btn-md btn-primary" href="//macintoshhelper.com/wiki">See More</a>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Hardware</h3>
    <p>The physical component of any computer system. A desktop, phone, keyboard and speaker are all examples of hardware. To learn more about topics related to hardware, click below.</p>
    <a class="btn btn-md btn-primary" href="//macintoshhelper.com/wiki">See More</a>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Tech Ethics</h3>
    <p>Find out more about technology's effect on society. This includes topics such as tech's relation to law, privacy, human interaction and more. To learn more, click below.</p>
    <a class="btn btn-md btn-primary" href="//macintoshhelper.com/wiki">See More</a>
  </div>
</div>
</div>

<div class="forum-preview">
<div class="container">
  <div class="col-md8 text-center">
    <h2>Tech Forum</h2>
    <p class="lead">Discuss technology with others.<br>Join the tech community and learn more about technology.</p>
  </div>
  <div class="col-sm-8">
    <h3 class="text-center">Categories</h3>
    <p>Operating Systems<br>Hardware<br><br><br><br></p>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Recent Threads</h3>
  </div>
</div>
</div>
